#logo {
    position: absolute;

    @media (max-width: 400px) {
        img {
            width: 80%;
        }
    }
}

.site-header {
    background-color: #e6920b;
}

.page-content {
    background-color: #1969ff;

    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
        color: #f8eb4e;
        outline: none;
    }

    a:hover {
        color: #ffffff;
    }
}


.break {
    word-break: break-all;
    overflow-wrap: anywhere;
}

.social-icons {
    a {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        display: block;
        width: auto;
        height: auto;
    }
}
