#logo {
    position: absolute;
}

.site-header,
.site-footer {
    background-color: #e6920b;
}

.page-content {
    background-color: aqua;
}

.break {
    word-break: break-all;
    overflow-wrap: anywhere;
}

.social-icons {
    a {
        display: inline-block;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        display: block;
        width: auto;
        height: auto;
    }
}
